body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #1e40af;
}
